
.profile-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    justify-content: center;
}

.profile-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}
.save-button{
    margin-top: 25px;
}